*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    list-style: none;
    text-decoration: none;
    color: rgb(87, 87, 87);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav ul{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.nav li{
    display: inline;
    padding: 8px;
}

.nav button{
    width: 60px;
    height: 23px;
    font-weight: bold;
    background: #4285f4;
    border-radius: 3px;
    color: white;
    font-size: 12.5px;
}

.logo{
    padding-top: 100px;
    text-align: center;
}

.search-bar{
    text-align: center;
    
}

.search-bar input{
    width: 500px;
    height: 37px;
    border-radius: 50px;
    border: 1px solid rgb(207, 207, 207);
    margin: 15px;

}

.search-buttons{
    text-align: center;
}
.search-buttons button{
    width: 150px;
    height: 33px;
    border-radius: 4px;
    background: rgb(226, 226, 226);
    font-size: 13px;
    margin: 0 6px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(231, 231, 231);
    padding: 10px;
    border-top: solid 1px rgb(197, 197, 197);
}

footer li{
    display: inline;
    padding: 10px;
}

.footer-left {
    float: left;
}

.footer-right {
    float: right;
}